/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ced9ea;

}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.header{
    background-color: #30598c;
    height: 60px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 37px;
    object-fit: cover;
    width: 100px;
}

.sidebar{
    display: flex;
    direction: row;
    align-items: center;
}

.menu > ul{
 display: flex;
}

.menu-item{
    color: #fff;
    font-size: .95rem;
    font-weight: 400;
    margin-right: 24px;

    position: relative;

    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item span{
    margin-left: 5px;
}

.sub-menu{
    position: absolute;

    width: 200px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);

    display: none;
    flex-direction: column;

    right: 0;
    top: 100%;
}

.menu-item:hover .sub-menu{
    display: flex;
}

.sub-menu-item{
    font-size: 14px;
    text-align: center;
    padding: 1rem;
    color: black;

background-color: white;
}

.sub-menu-item:hover{
    background-color: #c4c4c4;
    color: #fff;
}
.avatar img{
        border-radius: 50%;
        height: 30px;
        object-fit: cover;
        width: 30px;
    }

.cart{
    color: #fff;
    padding-right: 25px;
}
.cart-icon{
    position: relative;
}
.cart-count{
    background-color: #26a69a;

    display: inline-block;
    padding: 1px 4px;
    border-radius: 3px;
    font-size: 13px;
    
    position:absolute;
    bottom: 8px;
    size: 0.5rem;

}

/* Style section khóa học */
.container{
    width: 1320px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.col{
    flex-basis: 25%;
    padding: 1rem 1rem;
}
 /* Style thẻ card  */
.card{
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px #ababab;
    /* margin: 15px; */
}

.image{
    height: 220px;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
}
.content{
    padding: 20px;
}
.content h4{
    font-size: 19.2px;
    font-weight: 400;
    color: #464646;
    padding-bottom: 16px;
}

.info{
    display: flex;
    justify-content: space-between;
    color: #757575;
    font-size: 14.4px;
    font-weight: 100;
}

.info span{
    color: #ffd600;
    margin-left: 4px;
}

/* Style section footer */

#footer{
    background-color: #30598c;
    color: white;
    padding: 0;

}

a{
    text-decoration: none;
    color: white;
}
#footer h5{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 0;
    margin-bottom: 8px;
}

#footer .row{
    padding: 20px;
}
#footer li{
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
}
#footer .col{
    padding-left: 15px;
}
.ctfooter i{
    font-size: 32px;
}

ul {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
}
ul.social-media{
    display: flex;
    justify-content: flex-start;
}
.social-media .youtube{
    margin: 0 16px;
}