/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ced9ea;

}

/* Style section khóa học */
.container{
    width: 1320px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.col{
    flex-basis: 25%;
    padding: 1rem 1rem;
}
 /* Style thẻ card  */
.card{
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px #ababab;
    /* margin: 15px; */
}

.image{
    height: 220px;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
}
.content{
    padding: 20px;
}
.content h4{
    font-size: 19.2px;
    font-weight: 400;
    color: #464646;
    padding-bottom: 16px;
}

.info{
    display: flex;
    justify-content: space-between;
    color: #757575;
    font-size: 14.4px;
    font-weight: 100;
}

.info span{
    color: #ffd600;
    margin-left: 4px;
}

/* Style section footer */

#footer{
    background-color: #30598c;
    color: white;
    padding: 30px 0;
}

a{
    text-decoration: none;
    color: white;
}
#footer h5{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 0;
    margin-bottom: 8px;
}

#footer li{
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
}
#footer .col{
    padding-left: 15px;
}
.ctfooter i{
    font-size: 32px;
}

ul {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
}
ul.social-media{
    display: flex;
    justify-content: flex-start;
}
.social-media .youtube{
    margin: 0 16px;
}